.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    /*sets up a grid with 12 columns*/
}


@media (max-width:780px) {

    /*small*/
    .grid {
        gap: 10px;
    }

    .s1 {
        height: 100%;
        grid-column: span 1;
    }

    .s2 {
        height: 100%;
        grid-column: span 2;
    }

    .s3 {
        height: 100%;
        grid-column: span 3;
    }

    .s4 {
        height: 100%;
        grid-column: span 4;
    }

    .s5 {
        height: 100%;
        grid-column: span 5;
    }

    .s6 {
        height: 100%;
        grid-column: span 6;
    }

    .s7 {
        height: 100%;
        grid-column: span 7;
    }

    .s8 {
        height: 100%;
        grid-column: span 8;
    }

    .s9 {
        height: 100%;
        grid-column: span 9;
    }

    .s10 {
        height: 100%;
        grid-column: span 10;
    }

    .s11 {
        height: 100%;
        grid-column: span 11;
    }

    .s12 {
        height: 100%;
        grid-column: span 12;
    }
}

@media (min-width: 780px) {

    /*medium*/
    .grid {
        gap: 20px;
    }

    .m1 {
        height: 100%;
        grid-column: span 1;
    }

    .m2 {
        height: 100%;
        grid-column: span 2;
    }

    .m3 {
        height: 100%;
        grid-column: span 3;
    }

    .m4 {
        height: 100%;
        grid-column: span 4;
    }

    .m5 {
        height: 100%;
        grid-column: span 5;
    }

    .m6 {
        height: 100%;
        grid-column: span 6;
    }

    .m7 {
        height: 100%;
        grid-column: span 7;
    }

    .m8 {
        height: 100%;
        grid-column: span 8;
    }

    .m9 {
        height: 100%;
        grid-column: span 9;
    }

    .m10 {
        height: 100%;
        grid-column: span 10;
    }

    .m11 {
        height: 100%;
        grid-column: span 11;
    }

    .m12 {
        height: 100%;
        grid-column: span 12;
    }
}

@media (min-width:1200px) {

    /*large*/
    .grid {
        gap: 30px;
    }

    .l1 {
        height: 100%;
        grid-column: span 1;
    }

    .l2 {
        height: 100%;
        grid-column: span 2;
    }

    .l3 {
        height: 100%;
        grid-column: span 3;
    }

    .l4 {
        height: 100%;
        grid-column: span 4;
    }

    .l5 {
        height: 100%;
        grid-column: span 5;
    }

    .l6 {
        height: 100%;
        grid-column: span 6;
    }

    .l7 {
        height: 100%;
        grid-column: span 7;
    }

    .l8 {
        height: 100%;
        grid-column: span 8;
    }

    .l9 {
        height: 100%;
        grid-column: span 9;
    }

    .l10 {
        height: 100%;
        grid-column: span 10;
    }

    .l11 {
        height: 100%;
        grid-column: span 11;
    }

    .l12 {
        height: 100%;
        grid-column: span 12;
    }
}