* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #e7e7e7;
    scroll-behavior: smooth;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
    line-height: 1.35em;
}

body {
    background: linear-gradient(135deg, rgba(39, 38, 40, 1) 0%, rgba(78, 42, 88, 1) 100%);
    overflow: overlay;
}

.container,
.maxw {
    margin: 0;
}

/*container sizing*/
@media (max-width:780px) {

    /*small*/
    .container {
        padding: 0 30px;
    }

    .nav-menu {
        display: none;
    }

    .mobile-nav-menu {
        display: flex !important;
    }

    .img-underline{
        display: none;
    }

}

@media (min-width: 780px) {

    /*medium*/
    .container {
        padding: 0 75px;
    }
}

@media (min-width:1200px) {

    /*large*/
    .container {
        padding: 0 120px;
    }
}

/*max width of the site*/
.maxw {
    max-width: 1800px;
    margin: 0 auto;
}

/*navigation*/
header {
    background-color: #57575736;
    position: fixed;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(4.3px);
}

.navbar {
    /*main navigation container*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #e7e7e7;
    max-width: 1800px;
    margin: 0 auto;
}

.nav-menu>ul {
    /*menu list*/
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.nav-menu>ul>li {
    padding: 5px 10px;
}

a.nav-section {
    color: #d1b492;
    font-weight: 600;
    transition: 0.15s ease-in-out;
}

a.nav-section:hover {
    color: #e7e7e7
}

.welcome {
    padding-top: 280px;
}

.welcome:first-child div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome h1 {
    font-size: 45px;
    font-weight: 400;
    color: #d1b492;
}

h2 {
    font-size: 40px;
    font-weight: 400;
}
section {
    margin-bottom: 300px !important;
}

#home {
    margin-top: 1000px;
    opacity: 0;
    transition: margin-top 1s ease, opacity 2s ease;
}

div.about-me h2 {
    text-align: center;
    color: #d1b492
}

.mobile-nav-menu {
    display: none;
}

.mobile-nav-menu>span {
    color: #e7e7e7;
    font-size: 32px;
    font-weight: 500;
}

.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.15s linear;
    /*backdrop-filter: blur(2.5px);*/
}

.mobile-nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.mobile-nav-menu ul li a {
    font-size: 20px;
}

.fullscreen span.close {
    font-size: 42px;
    font-weight: 100;
    position: absolute;
    top: 25px;
    right: 25px;
}

.fullscreen span.close:hover {
    cursor: pointer;
}

#mobile-menu-fullscreen {
    background-color: #2b2b2b;
}

footer {
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-size: 20px;
}

.content:first-of-type {
    margin-top: 50px;
}

.content>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:12px;
}

.fs-img {

    background-color: #181818e7;
    user-select: none;
    display: flex;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container img {
    max-width: 85%;
    max-height: 85%;
    width: auto;
    height: auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 32px;
}

.navigation span {
    color: #e7e7e7;
    font-size: 50px;
}

.navigation span:hover {
    cursor: pointer;
}

.content img {
    width: 80%;
    height: auto;
}

img[onclick] {
    cursor: pointer;
}

.navigation span:not(:first-child):not(:last-child) {
    font-size: 20px;
}

.fill {
    font-variation-settings:
        'FILL' 1;
}

.content p a,
.content p a sup {
    color: #d1b492;
    text-decoration-color: #d1b49200 !important;
    text-decoration: underline;
    transition: 0.15s ease-in-out;
}

.content p a:hover {
    text-decoration-color: #d1b492 !important;
}

.content:not(:first-of-type) {
    margin-top: 250px;
}

#about-me {
    opacity: 0;
    transition: opacity 2s ease;
}

/*custom crollbar*/
::-webkit-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;

}

::-webkit-scrollbar-track:hover {
    background-color: #242424a2;

}

::-webkit-scrollbar-thumb {
    background-color: #d1b492b6;
    border-radius: 10px;
}

/*image underline*/
.img-underline{
    width: 15%;
    height: 2px;
    background-color: #d1b492;
    transition: 0.25s ease;
}

img[onclick]:hover+.img-underline{
    width: 70%;
}